git+https://github.com/SpiNNakerManchester/SpiNNUtils.git@7.4.0a2#egg=SpiNNUtilities
git+https://github.com/SpiNNakerManchester/SpiNNMachine.git@7.4.0a2#egg=SpiNNMachine
git+https://github.com/SpiNNakerManchester/SpiNNMan.git@7.4.0a2#egg=spinnman
git+https://github.com/SpiNNakerManchester/PACMAN.git@7.4.0a2#egg=spinnaker-pacman
git+https://github.com/SpiNNakerManchester/spalloc.git@7.4.0a2#egg=spalloc
git+https://github.com/SpiNNakerManchester/SpiNNFrontEndCommon.git@7.4.0a2#egg=spinnfrontendcommon
git+https://github.com/SpiNNakerManchester/sPyNNaker.git@7.4.0a2#egg=spynnaker
git+https://github.com/SpiNNakerManchester/SpiNNakerGraphFrontEnd.git@7.4.0a2#egg=SpiNNakerGraphFrontEnd