-e git+https://github.com/SpiNNakerManchester/SpiNNUtils.git@pyproject.toml#egg=SpiNNUtilities
-e git+https://github.com/SpiNNakerManchester/SpiNNMachine.git@pyproject.toml#egg=SpiNNMachine
-e git+https://github.com/SpiNNakerManchester/SpiNNMan.git@pyproject.toml#egg=spinnman
-e git+https://github.com/SpiNNakerManchester/PACMAN.git@pyproject.toml#egg=spinnaker-pacman
-e git+https://github.com/SpiNNakerManchester/DataSpecification.git@pyproject.toml#egg=spinnaker-dataspecification
-e git+https://github.com/SpiNNakerManchester/spalloc.git@pyproject.toml#egg=spalloc
-e git+https://github.com/SpiNNakerManchester/SpiNNFrontEndCommon.git@pyproject.toml#egg=spinnfrontendcommon
-e git+https://github.com/SpiNNakerManchester/sPyNNaker.git@pyproject.toml#egg=spynnaker
-e git+https://github.com/SpiNNakerManchester/SpiNNakerGraphFrontEnd.git@pyproject.toml#egg=SpiNNakerGraphFrontEnd